.App {
  align-items: center;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 24px 0;
}

h1 {
  font-size: 4em;
}

.controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bingo {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0;
  justify-items: center;
  border: 2px solid black;
}
.bingo-grid {
  grid-template-rows: 20% 20% 20% 20% 20%;
}
li.free {  
  font-size: 4em;
}

.bingo-header {
  height: 1.5em;
  font-size: 5em;
  align-items: center;
}

.fact {
  display: flex;
  list-style-type: none;
  border: 1px solid black;
  width: 140px;
  height: 140px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
  margin: 0;
}

@media print {
  nav,
  .settings {
    display: none;
  }
}

ion-icon {
  margin-left: 4px;
  cursor: pointer;
}
