.App {
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.bingo-grid {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 0;
  justify-items: center;
  border: 2px solid black;
}

.fact {
  display: flex;
  list-style-type: none;
  border: 1px solid black;
  width: 140px;
  height: 140px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
  margin: 0;
}

@media print {
  nav,
  .settings {
    display: none;
  }
}
